<form action="/create_upvote_from_stock" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="stock_id" value="<%= @stock.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create upvote
  </button>
</form>
