<h1>
  Edit stock #<%= @stock.id %>
</h1>

<hr>

<form action="/update_stock/<%= @stock.id %>" method="post">

  <div class="form-group">
    <label for="ticker">
      Ticker
    </label>

    <input type="text" id="ticker" name="ticker" class="form-control" value="<%= @stock.ticker %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update stock
  </button>
</form>

<hr>

<a href="/stocks">
  Go back
</a>
