<% if @stock.present? %>
  <% if @stock.errors.any? %>
    <% @stock.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new stock
</h1>


<hr>

<form action="/create_stock" method="post">

  <div class="form-group">
    <label for="ticker">
      Ticker
    </label>

    <input type="text" id="ticker" name="ticker" class="form-control" value="<%= @stock.ticker %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create stock
  </button>
</form>

<hr>

<a href="/stocks">
  Go back
</a>
