<h1>
  Edit downvote #<%= @downvote.id %>
</h1>

<hr>

<form action="/update_downvote/<%= @downvote.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @downvote.user_id %>">
  </div>

  <div class="form-group">
    <label for="stock_id">
      Stock
    </label>

    <input type="text" id="stock_id" name="stock_id" class="form-control" value="<%= @downvote.stock_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update downvote
  </button>
</form>

<hr>

<a href="/downvotes">
  Go back
</a>
