<% if @upvote.errors.any? %>
  <% @upvote.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit upvote #<%= @upvote.id %>
</h1>

<hr>

<form action="/update_upvote/<%= @upvote.id %>" method="post">


  <div class="form-group">
    <label for="stock_id">
      Stock
    </label>

    <%= select_tag(:stock_id, options_from_collection_for_select(Stock.all, :id, :caption, @upvote.stock_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update upvote
  </button>
</form>

<hr>

<a href="/upvotes">
  Go back
</a>
