<% if @upvote.present? %>
  <% if @upvote.errors.any? %>
    <% @upvote.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new upvote
</h1>


<hr>

<form action="/create_upvote" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="stock_id">
      Stock
    </label>

    <%= select_tag(:stock_id, options_from_collection_for_select(Stock.all, :id, :caption, @upvote.stock_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create upvote
  </button>
</form>

<hr>

<a href="/upvotes">
  Go back
</a>
